body {
margin: 0;  
background-image: url("../assets/img/banner.jpg");
  font-family: sans-serif;

}

header {
  margin: 20px 30px;
  display: flex;
  flex-direction: row-reverse;
}

header button {
  background-color: rgb(61, 66, 69);
  color: #f5f5f5;
  font-size: 18px;
  padding: 12px 15px;
  border-radius: 5px;
  border: solid 1px gray;
}

main {
  display: flex;
  flex-direction: column;
}
article p {
  color: white;
}

.main_information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_information img {
  width: 474px;
  height: 193px;
  object-fit: contain;
}

.main_information p {
  padding: 20px 5px;
  font-size: 18px;
  line-height: 2; /*alto de linea*/
  margin: 0;
  text-align: center;
  width: 600px;
}

section {
  gap: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.section_suscrib {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section article:nth-child(1) img{

    width: 150px;
    height: 100px;
    object-fit: contain;

}

section article:nth-child(2) img{
    width: 300px;
    height: 100px;
    object-fit: contain;
}


.section_suscrib button {
  background-color: #4300dd;
  color: #d8d4cf;
  font-size: 18px;
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
}

.section_suscrib a {
  margin: 50px;
  color: #d8d4cf;
  font-size: 18px;
  text-align: center;
}
